.coin {
    border-bottom: 1px solid #fff;
    border-radius: 8px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.coin img {
    width: 40px;
    margin-right: 10px;
}

.coin .name {
    color: aqua;
    margin-right: 45px;
    margin-left: 8px;
}

.coin .price {
    color: gold;
    margin-right: 15px;
}

.coin .change {
    margin-right: 15px;
}